<div class="py-4">
    <div>
        <a class="btn btn-primary"></a>
    </div>
    <table class="table table-bordered table-stripped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <td>dni</td>
                <td>empledo</td>
                <td>direccion</td>
                <td>gestionar</td>
            </tr>
        </thead>
<tbody>
    <tr *ngFor="let empleado of empleados; let indice = index">
        <td>{{indice+1}}</td>
        <td>{{empleado.dni}}</td>
        <td>{{empleado.direccion}}</td>
        <td>
            <span *ngIf="empleado.direccion else dato" class="badge bg-primary">{{empleado.direccion}}</span>
        </td>
    </tr>
</tbody>
    </table>
</div>

<ng-template #dato>
    <span class="badge bg-danger">
        No especificó dirección
    </span>
</ng-template>